<ion-header>
  <ion-toolbar>
    <ion-title>
      Express it {{toExpressExpressionName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" [disabled]="disableCameraBtn" (click)="captureImage()">Capture Image</ion-button>
    <ion-button expand="full" [disabled]="disableDetectBtn" (click)="detectExpressionsAndDraw()">Detect Expression(s)</ion-button>
    <ion-button expand="full" [disabled]="disableNextExpressionBtn" (click)="getRandomExpressionName()">{{nextBtnText}}</ion-button>

    <ion-card class="">
      
      <!-- <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header> -->
      <ion-card-content id="container">
        <!-- <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p> -->
        <img #image id="image" [src]="myImage" alt="" />
        <canvas #canvas id="canvas"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card class="" id="score_panel">
        <ion-card-content >
          Score goes here...
        </ion-card-content>
    </ion-card>
    
</ion-content>
